nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: yellow;
    align-items: center;
    height: 150px;
    padding: 10px;
    border: 3px solid;
    border-color: black;
}

nav ul li:nth-of-type(-n+2) {
    align-self: flex-start;
    border: 1px;
    border-color: black;
}

nav ul li:nth-of-type(n+6) {
    align-self: flex-end;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-template-areas: "a a a b" "a a a b" "c c c b" "c c c b" "c c c b";
    gap: 5px;
    background-color: yellow;
    color: black;
}

main> :nth-child(1) {
    grid-area: a;
}

main> :nth-child(2) {
    grid-area: b;
}

main> :nth-child(3) {
    grid-area: c;
}

div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: (3, 150px);
    gap: 5px;
    background-color: white;
}

div section:first-of-type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (1, 150px);
    gap: 5px;
    /* background-color: red; */
}

div section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (1, 150px);
    gap: 5px;
    /* background-color: red; */
}

div section:last-of-type {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: (1, 150px);
    gap: 5px;
}

section>* {
    background-color: red;
}

aside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 150px);
    background-color: rgb(11, 68, 11);
    gap: 5px;
}

aside* {
    background-color: aqua;
}

footer {
    background-color: rgb(52, 52, 218);
    height: 100px;
}